<ol>
	{{#each recipes}}
		<li>
		<p>Title: {{title}}</p>
		<p>Veggie: {{veggie}}</p>
		<p>Image: {{imgUrl}}</p>
		</li>
		<br>
	{{/each}}
</ol>


<!-- {{#each todos}}
    <li>Description: {{description}}</li>
    <li>Urgent: {{urgent}}</li>
    <br>
{{/each}} -->